{% macro render_pagination(pagination) %}
  <ul class="uk-pagination">

      {% if pagination.has_prev %}
        <li><a href="{{ pagination.prev|url }}"><i class="uk-icon-angle-double-left"></i></a></li>
      {% else %}
        <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
      {% endif %}

      {% for page in range(1, pagination.pages+1) %}

        {% if page == pagination.page %}
          <li class="uk-active"><span> {{ page }}</span></li>
        {% else %}
          <li><a href="{{ pagination.for_page (page)|url }}">{{ page }}</a></li>
        {% endif %}

      {% endfor %}

      {% if pagination.has_next %}
        <li><a href="{{ pagination.next|url }}"><i class="uk-icon-angle-double-right"></i></a></li>
      {% else %}
        <li class="uk-disabled"><span><i class="uk-icon-angle-double-right"></i></span></li>
      {% endif %}

  </ul>
{% endmacro %}
