{% macro render_prevnext(record) %}

{% set prev = record.get_siblings().prev_page %}
{% set next = record.get_siblings().next_page %}

<div class="uk-margin">
  <div class="uk-flex uk-flex-middle uk-flex-space-around">
    {% if prev %}
      <a class="uk-button my-button-left uk-button-primary my-study-button" href="{{ prev|url }}"></a>
    {% else %}
      <a class="uk-button my-button-up uk-button uk-button-primary my-study-button" href="{{ record.parent|url }}"></a>
    {% endif %}

    {%- set ns = namespace() %}
    {%- for child in record.parent.children %}
      {%- if child == record %}
        {%- set ns.current = loop.index %}
      {%- endif %}
      {%- set ns.length = loop.length %}
    {%- endfor %}

    <span class="">  {{ ns.current }} / {{ ns.length }} </span>

    {% if next %}
      <a class="uk-button my-button-right uk-button-primary my-study-button" href="{{ next|url }}"></a>
      {% else %}
      <a class="uk-button my-button-up uk-button uk-button-primary my-study-button" href="{{ record.parent|url }}"></a>
    {% endif %}
  </div>
</div>

{% endmacro %}
