{% macro vocabulary(record) %}

{%- set ns = namespace() %}

{% if record._model == 'article' %}
  {% set ns.article = record %}
{% endif %}

{% if record._model == 'study' %}
  {% set ns.article = record.parent %}
{% endif %}

{% if ns.article %}

  {% for tag in ns.article.tags  %}
  {% set ns.tag = site.get('/tags/' ~  tag ~ '/') %}
    {% if ns.tag.links == true %}
      {% set ns.links = true %}
    {% endif %}
  {% endfor %}

  {% if ns.links %}

    {%- set ns.regex = '(' %}
    {%- for item, value in bag('vocabulary').iteritems() %}
      {%- set ns.regex = ns.regex + '·' + item %}
      {%- if not loop.last %}
        {%- set ns.regex = ns.regex + '|' %}
      {%- endif %}
    {%- endfor %}
    {%- set ns.regex = ns.regex + ')' %}

    <script>
      jQuery(".my-thai").filter(function () {
        var regex = /{{ ns.regex|safe }}/g

        if (jQuery(this).html().match(regex)) {
          jQuery(this).html(jQuery(this).html().replace(regex, function(match) {
            return '<a class="muted-links" href="https://translate.google.com/#th/en/'+match+'" target="_blank" title="Google translate ' +match+'">'+match+'</a>'
          }))
        }
      })
    </script>

  {% endif %}
{% endif %}

<script>
  jQuery(".my-thai").filter(function () {
    var regex = /·/g

    if (jQuery(this).html().match(regex)) {
      jQuery(this).html(jQuery(this).html().replace(regex, ''))
    }
  })

</script>


{% endmacro %}
