{% macro render_words(words) %}

<div class="uk-grid uk-grid-match uk-flex uk-flex-center" data-uk-grid-margin>
  <div class="my-words uk-width-small-1-1 uk-width-medium-3-4">
    <div class="uk-panel uk-panel-box uk-panel-space">
      <dl class="uk-description-list-horizontal">
        {% for entry in words.blocks %}
          <dt class="my-thai">{{ entry.thai }}</dt><dd>{{ entry.english }}</dd>
        {% endfor %}
      </dl>
    </div>
  </div>
</div>

{% endmacro %}
