
.my-study-button {
  line-height: 20px;
  min-height: 0px;
  padding: 5px 10px;
  text-transform: none;
}

.my-page h3 {
    font-family: Montserrat;
    font-size: 20px;
    line-height: 24px;
}

.uk-pagination > li > a, .uk-pagination > li > span {
  padding: 0;
}

.tm-navbar-left {
    left: 15px;
}

.tm-logo-small-text {
  font-family: Anton;
  font-size: 24px;
  text-transform: uppercase;
  color: #ffffff;
  height: 60px;
}

.tm-logo-small-text::before  {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

@media (max-width: 374px) {
  .tm-navbar .tm-logo-small-text {
    font-size: 20px;
  }
}


.tm-block-footer {
    padding-top: 20px;
    padding-bottom: 20px;
}

div .uk-navbar-nav > li > a {
    padding: 0 4px;
    color: #ffffff;
}

html {
  font-size: 16px;
}

.my-thai {
  font-family: 'Noto';
  font-size: 125%;
  font-weight: lighter;
  line-height: 150%;
}
.my-words dd {
  line-height: 150%;
  font-size: 125%;
}
.uk-description-list-horizontal > dt {
  margin-top: 40px;
}

@media (min-width: 768px) {
  .uk-description-list-horizontal > dt {
    margin-top: 20px;
  }
  .uk-description-list-horizontal > dd {
    margin-left: 180px;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .uk-description-list-horizontal > dt {
  }
  .uk-description-list-horizontal > dd {
    font-size: 100%;
  }
}

.my-thai  a.muted-links {
  text-decoration-color: #b9b9b9;
  text-decoration-line:  underline;
	text-decoration-style: dotted;
  color: #666666;
}

.my-thai  a.muted-links:hover {
  color: #af9a7d;
}

.my-thai .uk-icon-question-circle-o {
    margin-left: 8px;
}

.uk-grid + .uk-grid,
.uk-grid-margin,
.uk-grid > * > .uk-panel + .uk-panel {
  margin-top: 10px;
}

.uk-panel-box {
    min-height: 30px
}

.uk-container-center.uk-navbar-brand.tm-logo-small-text {
    padding-left: 20px;
}

.my-container .uk-panel {
  padding: 10px 20px;
}
@media (max-width: 767px) {
  .uk-container {
    padding: 0;
  }
}

.tm-navbar .uk-container,
.parent-articles .uk-container,
.parent-tags .uk-container,
.my- .uk-container {
  padding: 15px;
}


.my-button-right,
.my-button-left,
.my-button-up {
  width: 48px;
}


.my-button-right.uk-button::before {
  content: '\F061';
  top: 1px;
  margin: 0;
  font-family: 'FontAwesome';
  font-size: 18px;
  width: 48px;
}
.my-button-left.uk-button::before {
  content: '\F060';
  top: 1px;
  margin: 0;
  font-family: 'FontAwesome';
  font-size: 18px;
  width: 48px;
}
.my-button-up.uk-button::before {
  content: '\F062';
  top: 1px;
  margin: 0;
  font-family: 'FontAwesome';
  font-size: 18px;
  width: 48px;
}

.my-audio .uk-panel {
  padding: 15px;
}


.my- .tm-block-image-opacity-30::after {
  opacity: 0;
}

.tm-navbar {
  opacity: 0.9;
}

.tm-footer-left {
  opacity: 0.9;
}

.uk-active .tm-navbar {
  background-image: url(../images/navbar.jpg);
  background-position-y: 350px;
  background-color: #0e4165;
  overflow: hidden;
}


.uk-pagination > li:nth-child(n+2) {
    margin: -2px;
}

.uk-pagination > li > a {
    position: initial;
}

.uk-pagination > li {
    font-size: 24px;
}

@media (max-width: 767px) {
  .uk-h1 {
      font-size: 26px;
      line-height: 36px;
  }
}







body .uk-panel .mejs-controls {
  transform: translate(0%, -50%);
  height: 100%;
}

body .uk-panel .mejs-container {
	background: initial;
}

body .mejs-ted .mejs-controls .mejs-duration-container {
	right: 70px;
    font-size:14px;
    line-height:16px;
}
body .mejs-ted .mejs-controls .mejs-currenttime-container  {
	right: 130px;
    font-size:14px;
    line-height:16px;
}

body .mejs-ted .mejs-controls {
	background: none;
}

body .mejs-ted .mejs-controls .mejs-playpause-button  {
	top: 25px;
	left: 15px;
}


/* Change the default height of the navbar from 100px to 60px: */

 .uk-navbar-nav > li > a {
 height: 60px;
 line-height: 60px;
 }

 .uk-navbar-content, .uk-navbar-brand, .uk-navbar-toggle {
 height: 60px;
 }

 .tm-navbar .tm-navbar-container {
 min-height: 60px;
 padding: 10px;
 }

 .uk-navbar-brand img {
     margin-top: 17px;
 }

 .my-voa-logo {
   opacity: 0.6;
   transition: opacity 0.15s ease-in-out;
  -webkit-transition: color 0.15s ease-in-out;
 }

 .my-voa-logo:hover {
   opacity: 1;
 }

 #tm-main.uk-block {
   padding-bottom: 0px;
 }

 #tm-content {
   opacity: 0;
 }

.my- #tm-content,
 .parent-tags #tm-content {
   opacity: 1;
 }

 .my-english.zero-height {
   height: 0px;
 }

 .my-english.zero-height .uk-panel {
   margin: 0;
   padding: 0;
 }
