{% extends "layout.html" %}

{% block title %}{{ this.title }}{% endblock %}
{% block top_headline %}{{ this.title }}{% endblock %}
{% block top_title %}{% endblock %}

{% if this.imagelink %}
  {% set image = this.imagelink.url %}
{% endif %}
{% if this.image %}
  {% set image = this.image %}
{% endif %}
{% block top_image %}{{ image|trim }}{% endblock %}

{% block main %}

{% set prev = this.record.get_siblings().prev_page %}
{% set next = this.record.get_siblings().next_page %}

{% from "macros/prevnext.html" import render_prevnext %}
{{ render_prevnext(this.record) }}

  <div class="uk-grid uk-grid-match" data-uk-grid-margin>
    <div class="my-audio uk-container-center uk-width-medium-3-4 ">
      <div class="uk-panel uk-panel-box">
        <audio class="mejs-player mejs-ted" controls preload="metadata" loop>
          <source src="{{ this.audio }}" type="audio/mpeg">
        </audio>
      </div>
    </div>
  </div>
  <div class="uk-grid uk-grid-match" data-uk-grid-margin>
    <div class="uk-width-medium-3-4 uk-container-center">
      <article class="uk-article">
        {% for study in this.children %}
          <p class="my-thai">
            {% for sentence in study.sections.blocks %}{{ sentence.thai }} {% endfor %}
          </p>
          <div class="uk-text-center">
            {% set title = 'Study ' ~ loop.index %}
            <a class="my-study-button uk-button uk-flex uk-flex-center" href="{{ study|url }}">{{ title }}</a>
          </div>
        {% endfor %}
      </article>
    </div>
  </div>

  {% from "macros/prevnext.html" import render_prevnext %}
  {{ render_prevnext(this.record) }}

{% endblock %}
