<!DOCTYPE html>
<html class="{% block class_html %}{% endblock %}" lang="en">
<head>
  {% block head %}
  
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-45111463-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-45111463-1');
</script>

  <title>{% block title %}{{this.title}}{% endblock %}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ '/css/theme.css'|asseturl }}" rel="stylesheet">
  <script src="{{ '/js/jquery.min.js'|asseturl }}"></script>
  <script src="{{ '/js/scroll-into-view-if-needed.min.js'|asseturl }}"></script>

  <script src="{{ '/uikit/js/uikit.min.js'|asseturl }}"></script>
  <script src="{{ '/uikit/js/components/sticky.min.js'|asseturl }}"></script>

  <script src="{{ '/mediaelement/mediaelement-and-player.min.js'|asseturl }}"></script>
  <link href="{{ '/mediaelement/mediaelementplayer.min.css'|asseturl }}" rel="stylesheet">
  <link href="{{ '/mediaelement/mejs-skins.css'|asseturl }}" rel="stylesheet">

  <script src="{{ '/js/custom.js'|asseturl }}"></script>
  <link href="{{ '/css/custom.css'|asseturl }}" rel="stylesheet">
  {% endblock %}
  {% block trackinghead %}
      {% include 'trackinghead.html' ignore missing %}
  {% endblock %}
</head>

<body class="{% block class_body %}{% endblock %}  tm-isblog tm-navbar-sticky tm-header-offset my-{{ this._id }} parent-{{this.parent._id}}">

  {% block header scoped %}
  <div id="tm-header" class="tm-block-header">
    <div class="tm-navbar-wrapper tm-navbar-wrapper-animate" data-uk-sticky="{showup: true, media: 767,top: -250,clsinactive: 'tm-navbar-wrapper'}">
      <div class="tm-navbar uk-navbar">
        <div class="uk-container uk-container-center tm-navbar-container">
          <div class="uk-flex uk-flex-middle uk-hidden-large">
              <a class="uk-container-center tm-logo-small-text" href="{{ site.root|url }}">SelfStudyThai</a>
          </div>
          <div class="tm-navbar-left uk-flex uk-flex-middle">
            <a class="uk-navbar-brand uk-flex uk-flex-middle uk-hidden-medium uk-hidden-small" href="{{ site.root|url }}">
              <img src="{{ '/images/logo.png'|url }}" width="120" height="120" class="uk-margin-small-right" alt=""></a>
            <a class="tm-logo-small uk-hidden-large" href="{{ site.root|url }}">
              <img src="{{ '/images/logo_small.png'|url }}" width="70" alt="">
            </a>
          </div>
          <div class="tm-navbar-center uk-flex uk-flex-right uk-hidden-small uk-hidden-medium">
            <ul class="uk-navbar-nav uk-hidden-small">
              {% for tag in site.get('/tags').children %}
                {% if tag.pagination.pages %}
                  <li{% if this._path == tag._path %} class="uk-active"{% endif %}>
                    <a href="{{tag|url }}">{{ tag.name }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>

          <div class="tm-navbar-right uk-flex uk-flex-middle">
            <a href="#offcanvas" class="uk-navbar-toggle uk-hidden-large" data-uk-offcanvas></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

  <div id="tm-top-a" class="tm-block-top-a uk-block uk-block-secondary uk-contrast uk-cover-background tm-block-image-opacity-30" style="background-image: url('{% block top_image %}{% endblock %}');">
    <div class="uk-container uk-container-center">
      <section class="tm-top-a uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin>
        {% block top %}
        <div class="uk-width-1-1">
          <div class="uk-panel uk-text-center">
            <h1 class="uk-h1">{% block top_headline %}Top Headline{% endblock %}</h1>
          </div>
        </div>
        {% endblock %}
      </section>
    </div>
  </div>

  <div id="tm-main" class="tm-block-main uk-block uk-block-default ">
    <div class="uk-container uk-container-center">
      <div class="tm-middle uk-grid" data-uk-grid-match data-uk-grid-margin>
        <div class="tm-main  uk-width-medium-1-1">
          <main id="tm-content" class="tm-content">
            {% block main scoped %}
            {% endblock %}
          </main>
        </div>
      </div>
    </div>
  </div>

  <div id="tm-footer" class="tm-block-footer uk-block-secondary uk-contrast">
    <div class="uk-container uk-container-center uk-flex uk-flex-middle uk-height-1-1 uk-width-1-1">

      <footer class="tm-footer uk-flex uk-flex-middle uk-width-1-1">
        {% block footer scoped %}
        <div class="tm-footer-left uk-flex uk-flex-middle">
          <div class="uk-panel   ">
            <a class="tm-brand uk-flex uk-flex-middle" href="{{site.root|url}}"><img src="{{'/images/logo_small.png'|url}}" width="60" height="60" alt=""> <span>Self Study Thai</span></a>
          </div>
        </div>

        <div class="tm-footer-center uk-flex uk-flex-middle uk-flex-center uk-width-1-1">
          <a id="tm-anchor-bottom" class="tm-totop-scroller" data-uk-smooth-scroll href="#"></a>
        </div>

        <div class="tm-footer-right uk-flex uk-flex-middle">
          <div class="uk-panel">
          <ul class="uk-subnav uk-subnav-line uk-flex-center">
            <li><a  target="_blank" class="uk-icon-hover uk-icon-bug uk-icon-medium" href="https://gitlab.com/universe6/selfstudythai/issues" title="Report translation issues"></a></li>
            {% if this.path %}
            <li><a  target="_blank" class="uk-icon-hover uk-icon-file-text-o uk-icon-medium" href="https://gitlab.com/universe6/selfstudythai/tree/master/content{% if this.path != '/' %}{{ this.path.split('@')[0]}}{% endif %}/contents.lr" title="View source for this page"></a></li>
            {% endif %}
            {% if this.parent.link %}
              {% set voalink = this.parent.link %}
            {% endif %}
            {% if this.link %}
              {% set voalink = this.link %}
            {% endif %}
            {% if voalink %}
              <li><a  target="_blank" class="my-voa-logo" href="{{ voalink }}"><img src="{{ '/images/voa.svg'|url }}" width="64" title="Link to original VOA Thai article" alt=""></a></li>
            {%- endif %}
            <li><a  class="uk-icon-hover uk-icon-envelope-o uk-icon-medium" href="mailto:selfstudythai@gmail.com" title="Email Address"></a></li>
          </ul>
          </div>
        </div>
        {% endblock %}
      </footer>
    </div>
  </div>


  <div id="offcanvas" class="uk-offcanvas">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
      <ul class="uk-nav uk-nav-offcanvas">
        {% for tag in site.get('/tags').children %}
          {% set target = tag %}
          {% set title = target.title or target.name %}
          {% if tag.pagination.pages %}
            <li{% if this._path == tag._path %} class="uk-active"{% endif %}>
              <a href="{{tag|url }}">{{ tag.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% block offcanvas %}
        {% endblock %}
      </ul>
    </div>
  </div>

  {% block trackingbody %}
      {% include 'trackingbody.html' ignore missing %}
  {% endblock %}

  {% from "macros/vocabulary.html" import vocabulary %}
  {{ vocabulary(this.record) }}

</body>

</html>
