{% extends "layout.html" %}

{% block title %}{{ this.title }}{% endblock %}

{% block top_headline %}{{ this.headline }}{% endblock %}
{% block top_title %}{% endblock %}

{% if this.imagelink %}
  {% set image = this.imagelink.url %}
{% endif %}
{% if this.image %}
  {% set image = this.image %}
{% endif %}
{% block top_image %}{{ image|trim }}{% endblock %}

{% block main %}
  <div class="uk-grid uk-grid-match uk-flex uk-flex-center" data-uk-grid-margin>
    <div class="uk-width-large-2-3 uk-width-medium-3-4 uk-row-first">
      <article class="uk-article tm-article-blog">
        <div class="my-page">
          {{ this.text }}
        </div>
      </article>
    </div>
  </div>
{% endblock %}
