{% extends "layout.html" %}

{%- set ns = namespace() %}
{%- for child in this.parent.children %}
  {%- if child == this %}
    {%- set ns.length = loop.length %}
    {%- set ns.current = loop.index %}
  {%- endif %}
{%- endfor %}
{% set title = this.parent.title ~ ' - Study ' ~ ns.current %}
{% block title %}{{ title }}{% endblock %}
{% block top_headline %}{{ title }}{% endblock %}
{% block top_title %}{% endblock %}
{#{% block top_image %}{{ this.parent.attachments.images.get(this.parent.imagelink)|url }}{% endblock %}#}

{% if this.parent.imagelink %}
  {% set image = this.parent.imagelink.url %}
{% endif %}
{% if this.parent.image %}
  {% set image = this.parent.image %}
{% endif %}
{% block top_image %}{{ image|trim }}{% endblock %}

{% block main %}

{% from "macros/prevnext.html" import render_prevnext %}
{{ render_prevnext(this.record) }}

<div class="my-container uk-margin-top uk-margin-bottom">
  <div class="uk-grid uk-grid-match" >
    {% for sentence in this.sections.blocks %}
    <div class="my-thai my-thai-{{loop.index}}  uk-width-large-1-2 uk-grid-margin">
        <div class="uk-panel uk-panel-box">
            <div class="uk-flex uk-flex-space-between">
              <div>{{ sentence.thai }}</div>
              <a class="uk-icon-small uk-icon-question-circle-o" href="#" data-uk-flip="{target: '.eng-{{loop.index}}'}" title="Show english translation"></a>
            </div>
        </div>
    </div>
    <div class="my-audio uk-container-center uk-width-large-1-2 uk-grid-margin">
      <div class="uk-panel uk-panel-box">
          <audio class="mejs-player mejs-ted" controls preload="metadata" loop>
            <source src="{{ sentence.audio }}" type="audio/mpeg">
          </audio>
      </div>
    </div>
    <div class="eng-{{loop.index}} my-english uk-hidden uk-width-large-1-2 uk-grid-margin">
      <div class="uk-panel uk-panel-box">
        {{ sentence.english }}
      </div>
    </div>
    <div class="zero-height eng-{{loop.index}} my-english uk-hidden uk-width-large-1-2 uk-grid-margin">
        <div class="uk-panel">
        </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="my-container uk-margin-bottom">
  <div class="uk-grid uk-grid-match">
    <div class="my-thai uk-width-large-1-2 uk-grid-margin">
      <div class="uk-panel uk-panel-box">
        {% for sentence in this.sections.blocks %}{{ sentence.thai }} {% endfor %}
      </div>
    </div>
    <div class="my-audio uk-container-center uk-width-large-1-2 uk-grid-margin">
      <div class="uk-panel uk-panel-box">
        <audio class="mejs-player mejs-ted" controls preload="metadata" loop>
          <source src="{{ this.audio }}" type="audio/mpeg">
        </audio>
      </div>
    </div>
  </div>
</div>

{% from "macros/prevnext.html" import render_prevnext %}
{{ render_prevnext(this.record) }}

{% from "macros/words.html" import render_words %}
{{ render_words(this.record.words) }}

{% set prev = this.record.get_siblings().prev_page %}
{% set next = this.record.get_siblings().next_page %}
{% if prev and next  %}
  <div class="my-link uk-width-1-1">
    <div class="uk-panel uk-text-center">
      <a href="{{this.parent.path}}">{{this.parent.title}}</a>
    </div>
  </div>
{% endif %}



{% endblock %}
