{% extends "layout.html" %}
{% block title %}{{ this.name }}{% endblock %}

{% if this.imagelink %}
  {% set image = this.imagelink.url %}
{% endif %}
{% if this.image %}
  {% set image = this.image %}
{% endif %}
{% block top_image %}{{ image|trim }}{% endblock %}

{% block top_headline %}Articles tagged with {{ this.name }}{% endblock %}
{% block top_title %}{% endblock %}

{% block main %}

    {% from "macros/pagination.html" import render_pagination %}
    {% if this.pagination.pages > 1 %}
      {{ render_pagination(this.pagination) }}
    {% endif %}

    <div class="uk-grid" data-uk-grid-match data-uk-grid-margin>
      <div class="my-article-link uk-container-center uk-width-1-1">
          <div class="uk-grid uk-text-center">
            {% for article in this.pagination.items %}
                <div class="uk-text-small uk-text-muted uk-width-1-1 uk-margin-top">Article #{{ article.sort_key }} published on {{article.pub_date|dateformat('medium') }}</div>
                <div class="uk-width-1-1"><a href="{{ article|url }}">{{ article.title }}</a></div>
            {% endfor %}
          </dl>
        </div>
      </div>
    </div>

    {% from "macros/pagination.html" import render_pagination %}
    {% if this.pagination.pages > 1 %}
      {{ render_pagination(this.pagination) }}
    {% endif %}

{% endblock %}
